@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Cafe Racer Garage</h1>
        <p>
            Welcome to the best destination for cafe racer motocycles. Each and every one of our motorcycle is custom
            built for you according to your needs. We have a wide range of motorcycle manufacturers that you can choose from.
        </p>
    </div>
    
            

<div class="row">
    <div class="col-md-4">
        <img src="~/css/bike1.jpg" height="300" width="400">
        <h2>Custom Built</h2>
        <p>
            Each One of our motorcycle is made according to your needs and your designs. You can choose from a list of engine types
            and we will build it for your.
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/css/bike2.jpg" height="300" width="400">
        <h2>Our Customers</h2>
        <p>
            Our customers come from a wide array of backgrounds. We don't care about where you come from. We know that
            you have that passion for motorcycles that we all share.
        </p>

    </div>
    <div class="col-md-4">
        <img src="~/css/bike3.jpg" height="300" width="400">
        <h2>We are the Best</h2>
        <p>
            We are the leaders in Cafe racing business for a long time now. If you need a custom bike to your
            needs we are the best option that you got.
        </p>
    </div>
</div>